<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MLB Player</title>
  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body class="flex-container" data-ng-app="mlbplayer">


  <h1 class="title">MLB Player Database</h1>
  <main data-ng-controller="PlayersController" data-ng-init="getAll()">
    <ul id="errorslist">
      <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>

    <form name="newPlayerForm" data-ng-submit="create(newPlayer)">
      <h2 class="header">Create A New Player for the Database:</h2>
      <article class="inputs-container row">
        <section class="firstName, two columns">
          <label for="newPlayerFirstName">First Name:</label>
          <input type="text" id="newPlayerFirstName" class="input" required data-ng-model="newPlayer.firstName">
        </section>
        <section class="lastName, two columns">
          <label for="newPlayerLastName">Last Name:</label>
          <input type="text" id="newPlayerLastName" required data-ng-model="newPlayer.lastName">
        </section>
        <section class="position, two columns">
          <label for="newPlayerPosition">Position: </label>
          <input type="text" id="newPlayerPosition" data-ng-model="newPlayer.postion" placeholder="-">
        </section>
        <section class="number, one column">
          <label for="newPlayerNumber">Number:</label>
          <input type="number" min="0" max="99" id="newPlayerNumber" required data-ng-model="newPlayer.number">
        </section>
        <section class="teamName, two columns">
          <label for="newPlayerTeam">Team:</label>
          <input type="text" id="newPlayerTeam" data-ng-model="newPlayer.team" placeholder="free_agent">
        </section>
        <section class="bat, one column">
          <label for="newPlayerBat">Bats:</label>
          <select type="text" id="newPlayerBat" required data-ng-model="newPlayer.bat">
              <option value="right">right</option>
              <option value="left">left</option>
          </select>
        </section>
        <section class="throw, one column">
          <label for="newPlayerThrowing">Throws:</label>
          <select type="text" id="newPlayerThrowing" required data-ng-model="newPlayer.throwing">
            <option value="right">right</option>
            <option value="left">left</option>
          </select>
        </section>
      </article>
      <button class="create-buttons" type="submit" data-ng-disabled="newPlayerForm.$invalid">Create New Player</button>
    </form>

    <ul id="playerlist">
      <li class="individual-player" data-ng-repeat="player in players">
        {{player.firstName}} {{player.lastName}}

        <div data-player-directive data-player="player"></div>

        <form name="playerForm{{player._id}}" data-ng-submit="update(player)" data-ng-if="player.editing">
          <h2 class="header">Profile for {{player.firstName}} {{player.lastName}}</h2>
          <article class="inputs-container, row">
            <section class="firstName, two columns">
              <label for="playerFirstName{{player._id}}">First Name:</label>
              <input type="text" id="playerFirstName{{player._id}}" required data-ng-model="player.firstName">
            </section>
            <section class="lastName, two columns">
              <label for="playerLastName{{player._id}}">Last Name:</label>
              <input type="text" id="playerLastName{{player._id}}" required data-ng-model="player.lastName">
            </section>
            <section class="position, two columns">
              <label for="position{{player._id}}">Position: </label>
              <input type="text" id="position{{player._id}}" data-ng-model="player.position" placeholder="-">
            </section>
            <section class="number, one column">
              <label for="number{{player._id}}">Number:</label>
              <input type="number" min="0" max="99" id="number{{player._id}}" required data-ng-model="player.number">
            </section>
            <section class="teamName, two columns">
              <label for="team{{player._id}}">Team:</label>
              <input type="text" id="team{{player._id}}" data-ng-model="player.team" placeholder="free_agent">
            </section>
            <section class="bat, one column">
              <label for="bat{{player._id}}">Bats:</label>
              <select type="text" id="bat{{player._id}}" required data-ng-model="player.bat">
                <option value="right">right</option>
                <option value="left">left</option>
              </select>
            </section>
            <section class="throw, one column">
              <label for="throwing{{player._id}}">Throws:</label>
              <select type="text" id="throwing{{player._id}}" required data-ng-model="player.throwing">
              <option value="right">right</option>
              <option value="left">left</option>
              </select>
            </section>
          </article>
          <button class="create-buttons" type="submit">Make Player Changes!</button>
          <button class="edit-buttons" data-ng-click="revertBack(player)">Cancel Changes</button>
        </form>

        <button class="edit-buttons" data-ng-if="!player.editing" data-ng-click="cancelChanges(player)">This player needs changes</button>

        <button class="remove-buttons" data-ng-if="!player.editing" data-ng-click="remove(player)">This guy's a cheater! Remove him!</button>
      </li>
    </ul>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
