@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Montserrat|Permanent+Marker);
$font1: 'Montserrat', sans-serif;
$font2: 'Permanent Marker', cursive;
$blue: #15317E !default; //Royal Blue
$red: #DA291C !default; // Red
$yellow: #FFBE00 !default; //California Gold
$green: #00483A !default; //Green
$primary-color: $blue;
$secondary-color: $red;
$tertiary-color: $yellow;
$button-default-border-size: 3px !default;
$button-default-border-radius: 20px !default;

@mixin button-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-image: url("http://wallpapercave.com/wp/K5MGxm5.jpg");
  font-family: $font1;
  color: $primary-color;
}


.title, .header {
  font-family: $font2;
  text-align: center;
}

.title {
  -webkit-text-stroke: 1px $secondary-color;
  color: $primary-color;
  text-shadow:
    3px 3px 0 $secondary-color,
    -1px -1px 0 $secondary-color,
    1px -1px 0 $secondary-color,
    -1px 1px 0 $secondary-color,
    1px 1px 0 $secondary-color;
}

.header {
  color: $tertiary-color;
  -webkit-text-stroke: 1px $primary-color;
}

.input {
  backgrond-color: $tertiary-color;
}

button {
  border-width: $button-default-border-size;

}

.create-buttons {
  background-color: $green;
  color: $tertiary-color;
  border-color: $tertiary-color;
  @include button-radius($button-default-border-radius);
}

.remove-buttons {
  background-color: $red;
  border-color: $red;

}

.edit-buttons{
  color: $primary-color;
  border-color: $tertiary-color;

}

