<!-- <table>
  <tr class="heading">
    <td class="table-first-name">First Name</td>
    <td class="table-last-name">Last Name</td>
    <td class="table-position">POS</td>
    <td class="table-number">#</td>
    <td class="table-team">TEAM</td>
    <td class="table-bat">BAT</td>
    <td class="table-throwing">THROW</td>
  </tr>
  <tr class="stat">
    <td class="table-first-name">{{player.firstName}}</td>
    <td class="table-last-name">{{player.lastName}}</td>
    <td class="table-position">{{player.Position}}</td>
    <td class="table-number">{{player.Number}}</td>
    <td class="table-team">{{player.Team}}</td>
    <td class="table-bat">{{player.Bat}}</td>
    <td class="table-throwing">{{player.Throwing}}</td>
  </tr>
</table> -->
<p>{{player.firstName}} {{player.lastName}}</p>
