<section name="playerForm{{player._id}}" data-ng-submit="update({player:player})" data-ng-if="player.editing">
  <h2 class="header">Profile for {{player.firstName}} {{player.lastName}}</h2>
  <article class="inputs-container, row">
    <section class="firstName, two columns">
      <label for="playerFirstName{{player._id}}">First Name:</label>
      <input type="text" id="playerFirstName{{player._id}}" required data-ng-model="player.firstName">
    </section>
    <section class="lastName, two columns">
      <label for="playerLastName{{player._id}}">Last Name:</label>
      <input type="text" id="playerLastName{{player._id}}" required data-ng-model="player.lastName">
    </section>
    <section class="position, two columns">
      <label for="position{{player._id}}">Position: </label>
      <input type="text" id="position{{player._id}}" data-ng-model="player.position" placeholder="-">
    </section>
    <section class="number, one column">
      <label for="number{{player._id}}">Number:</label>
      <input type="number" min="0" max="99" id="number{{player._id}}" required data-ng-model="player.number">
    </section>
    <section class="teamName, two columns">
      <label for="team{{player._id}}">Team:</label>
      <input type="text" id="team{{player._id}}" data-ng-model="player.team" placeholder="free_agent">
    </section>
    <section class="bat, one column">
      <label for="bat{{player._id}}">Bats:</label>
      <select type="text" id="bat{{player._id}}" required data-ng-model="player.bat">
        <option value="right">right</option>
        <option value="left">left</option>
      </select>
    </section>
    <section class="throw, one column">
      <label for="throwing{{player._id}}">Throws:</label>
      <select type="text" id="throwing{{player._id}}" required data-ng-model="player.throwing">
      <option value="right">right</option>
      <option value="left">left</option>
      </select>
    </section>
  </article>
  <button class="create-buttons" type="submit">Make Player Changes!</button>
  <button class="edit-buttons" data-ng-click="revertBack(player)">Cancel Changes</button>
</section>
