<article data-ng-controller="PlayersController" data-ng-init="getAll()">
    <section class="player-table" data-player-transclude-directive data-title-heading="MLB Player Database">
      <table class="mlb-table">
        <tr class="mlb-table-heading">
          <th class="table-first-name">First Name</th>
          <th class="table-last-name">Last Name</th>
          <th class="table-position">POS</th>
          <th class="table-number">#</th>
          <th class="table-team">TEAM</th>
          <th class="table-bat">BAT</th>
          <th class="table-throwing">THROW</th>
        </tr>
        <tr class="mlb-bio-stat" data-ng-repeat="player in players">
          <td class="table-first-name">{{player.firstName}}</td>
          <td class="table-last-name">{{player.lastName}}</td>
          <td class="table-position">{{player.position}}</td>
          <td class="table-number">{{player.number}}</td>
          <td class="table-team">{{player.team}}</td>
          <td class="table-bat">{{player.bat}}</td>
          <td class="table-throwing">{{player.throwing}}</td>
        </tr>
      </table>
    </section>

    <ul id="errorslist">
      <li data-ng-repeat="error in errors">{{error}}</li>
    </ul>

    <section data-player-form-directive
      data-form-name="newPlayerForm"
      data-heading-text="Create A New Player for the Database:"
      data-player="newPlayer"
      data-save="create(player)"
    ></section>

    <section data-list-directive data-title="Database">
      <li data-ng-repeat="player in players">
        <section data-player-directive data-player="player"></section>
        <section data-player-form-directive
          data-ng-if="player.editing"
          data-button-text="Save Changes!"
          data-form-name="edit{{player._id}}"
          data-player="player"
          data-heading-text="Profile for {{player.firstName}} {{player.lastName}} "
          data-save="update(player)">

          <button class="edit-buttons" data-ng-click="player.editing = false">Cancel Changes</button>

        </section>
        <button class="edit-buttons" data-ng-if="!player.editing" data-ng-click="cancelChanges(player)">This player needs changes</button>

        <button class="remove-buttons" data-ng-if="!player.editing" data-ng-click="remove(player)">This guy's a cheater! Remove him!</button>
      </li>
    </ul>
  </article>
