.flex-container {
  background-color: gray;
}
.title {
  color: blue;
}

.create-buttons {
  background-color: green;
}

.remove-buttons {
  background-color: red;
}

.edit-buttons{
  color: blue;
}

